<script type="text/javascript">
<% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
<% end %>

window.login_image_url = "<%=  asset_path('login.png')%>"
window.logo_url = "<%=  asset_path('logo.png')%>"
window.loading_url = "<%=  asset_path('Loading_icon.gif')%>"

</script>

<main id="root"></main>
