<script type="text/javascript">
<% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
<% end %>

window.image_url = "<%=  asset_path('login.png')%>"

</script>

<main id="root"></main>
