.signup-form{
  width: 66%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.signup-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 125px;
}

.signup-text{
  width: 66%;
  margin: auto;
}

.group-signup-inputs{
  width: 70%;
}

.signup-login{
  width: 30%;
}

[class^="signup-input"]{
  height: 44px;
  padding: 10px 18px;
  border: 1px solid;
  border-color: lightgray;
  border-radius: 4px;
  margin: 18px 0;
  box-sizing: border-box;
}

::placeholder{
  color: lightgray;
}

[class^="signup-input"]:focus {
  border-color: #21ce99;
}

[class^="signup-input1"]{
  width:48%;
}
.signup-input2{
  width: 100%;
}

.first-last{
  display: flex;
  justify-content:  space-between;
}

.signup-login > button {
background-color: #21ce99;
color: white;
height: 42px;
width: 60%;
padding: 0 48px;
border-radius: 4px;
text-align: center;
font-size: 13px;
font-weight: 500px;
}

.signup-login{
  display: flex;
  flex-direction: column;
  margin: 18px 50px;
}

.login-link{
  align-self: center;
  margin: 50px 0;
  color: #21ce99;
  text-decoration: underline;
  font-size: 13px;
}

.sub-header {
  width: 66%;
  margin:auto;
}

.signup-text > h2 {
  font-size: 48px;
  font-weight: lighter;
  padding: 15px 0;
}

.signup-text > p {
  font-size: 24px;
  font-weight: lighter;
  padding: 15px 0;
}

.signup-text {
  width: 67%;
  float: left;
}

.sub-footer{
  width: 66%;
  margin: auto;
}

footer {
  width: 67%;
  float: left;
  font-size: 12px;
  border-top: 1px solid;
  margin-top: 100px;
  padding-top: 20px;
  color: #c3c2c2;
  border-color: #c3c2c2;
}

.top-container{
  width: 66%;
  margin: auto;
  position: relative;
}
.top-line{
  border-top: 3px solid #f0f0f0;
  width: 90%;
  float: right;
  padding-bottom: 50px;
}

.logo-img{
  width:80px;
  position: absolute;
  top: -58px;
  left: -20px;
}
