.show-wrapper{
  display: flex;
}

.stock-wrapper{
  width: 50%;
  margin-left: 13%;
  padding-top: 10%;

  h1{
    font-size: 36px;
    letter-spacing: -.29px;
    line-height: 42px;
    font-weight: 900px;
  }

  .chart-ranges {
    height: 33px;
    margin: 24px 0;
    border-bottom: 1px solid gray;

    button {
      margin: 0px 12px;
      font-weight: 700;
    }
  }

  .diff {
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;

    span {
      font-weight: 600;
      padding-left: 2px;
    }
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -.14px;
    line-height: 30px;
  }

  .info-section-header {
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
    padding-top: 32px;
  }

  h5 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }

  .info-grid{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;

    div{
      width: 25%;
      margin: 10px 0;
    }

    span{
      font-weight: 600;
    }

    p{
      font-weight: 400;
    }
  }

  .about {
    padding-bottom: 32px;
  }

  .news-block{
    padding: 30px;
    display: flex;
    justify-content: space-between;

    img {
      width: 196px;
      height: 134px;
    }

    .news-content{
      margin-left: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .news-source {
      font-size: 13px;
      font-weight: 400px;
      letter-spacing: .25px;
      line-height: 19px;
      display: flex;

      p{
        margin-right: 4px;
      }
    }

    .span{
      color: gray;
      font-weight: 300px;
    }
  }
  }
  .watch-add{
    position: fixed;
    top: 475px;
    right: 220px;
    border: 1px solid gray;
    width: 130px;
    height: 46px;
    padding: 0 48px;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;
    border-radius: 4px;
    text-align: center;
}
  .watch-remove{
    position: fixed;
    top: 475px;
    right: 220px;
    border: 1px solid gray;
    width: 130px;
    height: 46px;
    padding: 0 48px;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;
    border-radius: 4px;
    text-align: center;

}
