.show-wrapper{
  display: flex;
  justify-content: space-between;
  min-width: 1235px;
}

.stock-wrapper{
  width: 50%;
  margin-left: 13%;
  padding-top: 7%;

  h1{
    font-size: 36px;
    letter-spacing: -.29px;
    line-height: 42px;
    font-weight: 900px;
  }

  .chart-ranges {
    height: 33px;
    margin: 24px 0;
    border-bottom: 1px solid lightgray;

    button {
      margin: 0px 12px;
      font-weight: 700;

      .active{
        text-decoration: underline;
      }
    }
  }

  .diff {
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;

    span {
      font-weight: 600;
      padding-left: 2px;
    }

    .range{
      color: gray;
      font-weight: 400;
    }
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -.14px;
    line-height: 30px;
  }

  .info-section-header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 16px;
    padding-top: 32px;
  }

  h5 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }

  .info-grid{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;

    div{
      width: 25%;
      margin: 10px 0;
    }

    span{
      font-weight: 600;
    }

    p{
      font-weight: 400;
    }
  }

  .about {
    padding-bottom: 32px;
  }

  }
  .watch-add{
    position: sticky;
    top: 475px;
    margin:46px;
    border: 1px solid gray;
    width: 130px;
    height: 46px;
    padding: 0 48px;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;
    border-radius: 4px;
    text-align: center;
}
  .watch-remove{
    position: sticky;
    top: 475px;
    margin:46px;
    border: 1px solid gray;
    width: 130px;
    height: 46px;
    padding: 0 48px;
    font-size: 13px;
    letter-spacing: .25px;
    line-height: 19px;
    border-radius: 4px;
    text-align: center;

}

.tags{
  display: flex;
  list-style: none;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 19px;

}

.tag {
  height: 27px;
  margin: 0 12px 12px 0;
  vertical-align: center;
  border-radius: 17px;
  padding: 6px 8px 0px 8px;
}

.watch-trans{
  padding-right: 75px;
  align-items: center;
}
