.watchlist {
  position: absolute;
  width: 285px;
  top: 100px;
  right: 175px;
  // border: 1px solid black;
  font-size: 13px;
  letter-spacing: .25px;
  line-height: 19px;
  font-weight:500;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.04), 0 3px 24px rgba(48,51,51,.15);

  li {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

  .stock-watch{
    display: flex;
    flex-direction: column;
  }
    span{
      margin-top: 15px;
    }
  }

  ul {
    border-top: 1px solid lightgray;
  }

  h3 {
    margin-left: 24px;
    font-weight: 600;
  }

  .items{
    &:hover{
      background-color: rgba(247, 247, 247,.5);
      cursor: pointer;
    }
  }
}
