.watchlist {
  padding-top: 3px;
  margin-top: 3px;
  font-size: 13px;
  letter-spacing: .25px;
  line-height: 19px;
  font-weight:500;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.04), 0 3px 24px rgba(48,51,51,.15);

  li {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

  .stock-shares{
    display: flex;
    flex-direction: column;
  }
    span{
      margin-top: 15px;
    }
  }

  ul {
    border-top: 1px solid lightgray;
  }

  h3 {
    margin-left: 12px;
    font-weight: 600;
  }

  .items{
    &:hover{
      background-color: rgba(247, 247, 247,.5);
      cursor: pointer;
    }
  }

  p {
    color: gray;
    margin-left: 18px;
    padding-bottom: 10px;
    font-style: italic;
  }

  .chart-load{
    width: 65%;
    height: 65%
  }

  .chart-price{
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
}
